name: Build the site and publish to Github Pages (ajdawson.github.io)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Haskell
        uses: haskell-actions/setup@v2
        with:
          enable-stack: true
          stack-version: 'latest'

      - name: Cache ~/.stack
        uses: actions/cache@v4
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack-global-${{ hashFiles('stack.yaml') }}
          restore-keys: |
            ${{ runner.os }}-stack-global-

      - name: Cache .stack-work
        uses: actions/cache@v4
        with:
          path: .stack-work
          key: ${{ runner.os }}-stack-work-${{ hashFiles('stack.yaml') }}-${{ hashFiles('**/*.hs') }}
          restore-keys: |
            ${{ runner.os }}-stack-work-

      - name: Build static site generator
        run: stack build

      - name: Build the static site
        run: stack exec site rebuild

      - name: Deploy to Github Pages
        if: success() && github.event_name == 'push' && github.ref == 'refs/HEADS/master'
        uses: peaceiris/actions-gh-pages@v4
        with:
          external_repository: ajdawson/ajdawson.github.io
          publish_branch: master
          publish_dir: ./_site
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
